@import '../fonts/OpenSans.css';
@import '../fonts/MaterialIcons.css';
@import '../materialize/css/materialize.min.css';

html {
    font-family: 'Open Sans';
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

strong {
    font-weight: 600;
}

ul {
    padding-top: 12px;
    padding-bottom: 12px;
}

ul>li {
    padding-top: 4px;
    padding-bottom: 4px;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5%;
}

progress[value]::-webkit-progress-bar {
    background-color: #d5d7da;
    border-radius: 2px;
}

progress[value]::-webkit-progress-value {
    background-color: #02569b;
    border-radius: 2px;
}

.btn {
    text-transform: none;
}

.topcorner {
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #81d4fa;
}

.topcorner:hover {
    background-color: #f44336;
    color: white;
}

.close-button {
    -webkit-user-select: none;
    margin: 6px 10px 6px 10px;
    font-size: large;
}

.completion-icon {
    color: green;
    vertical-align: bottom;
    visibility: hidden;
}

.loader {
    vertical-align: bottom;
    display: inline-block;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    visibility: hidden;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}