@import '../fonts/OpenSans.css';
@import '../fonts/MaterialIcons.css';
@import '../materialize/css/materialize.min.css';

html {
    font-family: 'Open Sans';
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

strong {
    font-weight: 600;
}

.btn {
    text-transform: none;
}

.topcorner {
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #81d4fa;
}

.topcorner:hover {
    background-color: #f44336;
    color: white;
}